@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
    --primary: rgb(26,38,89);
    --primary-light: rgb(31, 45, 109) ;
    --orange: #ffa339;
    --light-blue: #5EA4FF;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    background: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #3f33ff;
}

body{
    background-color: var(--primary-light) !important;
}


header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    color: aliceblue;
    padding: 0px 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    z-index: 10000;
}

header .logo{
    position: absolute;
    top: 15px;
    left: 30px;
}

header nav{
    display: flex;
    list-style: none;
}

header nav li{
    font-size: 18px;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

header nav li:hover{
    border-bottom: 2px solid aliceblue;
}

header nav li a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Rubik', sans-serif;
}

header button{
    border: 1px solid white;
    background: none;
    color: aliceblue;
    margin-left: 5px;
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 18px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

header button:hover{
    background: aliceblue;
    color: var(--primary);
}

#cover{
    display: grid;
    grid-template-columns: repeat(2,40%);
    grid-gap: 10%;
    width: 80vw;
    margin: auto;
    align-items: center;
    height: 90vh;
}

#cover img{
    width: 100%;
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    transition: 0.5s;
}

#cover img:hover{
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(12deg);
}
#cover div p{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
    font-family: 'Josefin Sans', sans-serif;
}

#deals{
    padding: 5%;
    background-color: aliceblue;
}

#deals h1{
    margin-bottom: 50px;
    text-align: center;
    font-size: 35px;
    color: var(--primary-light);
}

.card-wrapper{
    width: 70vw;
    margin: auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(211, 233, 255);
    padding: 5%;
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.15);
}

.card{
    margin: auto;
    width: 80%;
    height: max-content;
    border-radius: 10px !important;
    border: 2px solid var(--primary) !important;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    transition: 0.1s all ease-in-out;
    background-color: aliceblue;
}

.card:hover{
    width: 85%;
}

.card-header{
    height: 50px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--primary-light) !important;
}

.card-header p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.card-body{
    margin: 0 !important;
    padding: 0 !important;
}

.card-body img{
    width: 100%;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.25);
}

.card-info{
    color: var(--orange);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px !important;
    font-weight: bold;
    padding: 5px 10px;
    height: 120px;
}

.card-footer{
    overflow: hidden;
    align-items: center;
    padding: 10px;
    border-top: 2px solid var(--primary-light) !important;
}

.card-footer p{
    float: left;
    line-height: 50px;
    font-size: 25px;
    padding: 0px 10px;
    color: var(--primary-light);
    font-family: 'Dancing Script', cursive;
    transition: 0.1s ease-in-out;
}

.card:hover .card-footer p{
    font-size: 35px;
}

.card-footer button{
    float: right;
    margin-top: 9px;
    border: none;
    background-color: var(--orange);
    border-radius: 500px;
    padding: 7px;
    cursor: pointer;
}

#trips{
    background-color: var(--primary-light);
    padding: 5%;
}

.trips_content{
    display: grid;
    grid-template-columns: repeat(2,40%);
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: auto;
    background-color: var(--primary);
    box-shadow: 0px 0px 50px rgba(0,0,0,0.15);
    border-radius: 20px;
    padding: 3%;
}

.trips_content div:nth-child(1){
    color: aliceblue;
    font-family: 'Rubik', sans-serif;
    border-right: 1px solid #444;
}

.trips_content div:nth-child(1) h3{
    font-size: 50px;
    line-height: 80px;
}

.trips_content div:nth-child(1) p{
    font-size: 20px;
    line-height: 60px;
}

.trips_content div:nth-child(1) button{
    border: none;
    background-color: var(--orange);
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: bold;
}